@media screen and (min-width: 1158px){
    .container{
     width: 1158px;
    }
    .hero {
       /* padding: 178px 292px 472px; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        
          url(../img/people-office1.jpg);
        
    }
    .team{
        /* background-color: #F4F4FD; */
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .team-item {
        /* width: calc((100% - 72px)/4); */
        
    }
    .costumers {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #FFFFFF;
    }
    .customers-item {
        width: calc((100% - 150px) / 6 );
        height: 88px;
     }
 }