@media screen and (min-width: 1158px){
    .container{
     max-width: 1158px;
     padding-left: 15px;
     padding-right: 0px;
    }
    .header{
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E7E9FC;
    
        margin: auto;
        
        
    }
    .hero-title{
        font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;

    }
    .header-mobile{
        flex-direction: row;
        margin-left: 121px;
        gap: 40px;
    }
    .hero {
       padding: 180px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        
          url(../img/people-office1.jpg);
        
    }
    .menu-open{
        display: none;
    }
    .online-input{
        width: 264px;
        height: 40px;
        border:1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color:#FFFFFF;
        background-color: transparent;
        /* margin-left:80px ; */
       padding:10px ;
      outline: none;
      /* margin-bottom: 119px; */
      margin-bottom: 0;
      }
      .online-btn{
        min-width:165px ;
        height: 40px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF; 
        cursor: pointer;   
        background-color: #4D5AE5;
        border-radius: 4px;
        border: none;
        transition: background-color 250ms linear, color 250ms linear ; 
       /* margin-left: 24px; */
       /* margin-bottom: 132px; */
      
       }
       .logo-wrap{
        display: block;
        margin-right: 60px;
        
        /* margin: 0px, 40px, 0px, 0px; */
    }
    .about-after-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color:var(--second-title-color)
        
        }
        .about-text{
            font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--third-title-color);
        }
    
       .online-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 8px;
       margin-top: 0;
        margin-bottom: 16px;
        margin-top: 0;
        
    }
    .end-text{
        margin-top: 16px;
        /* margin-left: 156px; */
        /* margin-right: 120px; */
    }
       .end-soc-list {
        display: flex;
        gap: 24px;
        margin-top: 16px;
    }
    .media-title {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    
   
    
    }
    .media-footer{
        margin-right: 20px;
       margin-top: 0;
    }

    .team{
        /* background-color: #F4F4FD; */
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-item {
        width: calc((100% - 72px)/4);
        
    }
    .photo-link{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
      
    }
    .costumers {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #FFFFFF;
    }
    .customers-item {
        width: calc((100% - 150px) / 6 );
        height: 88px;
     }
     .about-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
      
    }
    .about-item{
        width: calc((100% - 72px) / 4 ); 
    }
    
    .about-first {
        margin-right: 24px;
        width: 264px;
        height: 112px;
        flex-direction: column;
        /* background: #F4F4FD; */
       
    }
    .mobile{
        background-color: #FFFFFF;
        
            padding-bottom: 120px;
        display: block;}
        .mobile-list {
            gap: 24px;
            display: flex;
            list-style: none;
           flex-wrap: nowrap;
            
        }
    .online-btn{
        display: flex;
    }
    .online-form{
        display: flex;
        flex-direction: row;
        flex-direction: column;
       
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
       
    }
    .form-wrap{
        align-items: center;
            display: flex;
        flex-direction: row;}
    .about-after-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: left;
        color:var(--second-title-color)
        
        }
        .logo-end {
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        /* margin-left: 156px; */
        
        }
.end{
    align-content: baseline;
}

 }
