@media screen and (min-width:320px){
    .container{
     
     max-width: 428px;
     padding-left: 16px;
     padding-right: 16px;
     margin-left: auto;
     margin-right: auto;
     justify-content: space-between;
    }
    .hero-title{
      font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    }
    .about-item {
      /* font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42; */
/* margin-bottom: 72px; */
width: 100%;
    }
    .about{
      width: 100%;
      
  }
  .about-text{
    /* margin-bottom: 72px; */
  }

  .form-wrap{
    display: flex;
    flex-direction: column;
  }
  .end{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-open{
   /* margin-left: 251px; */
   right: 24px;
   top: 24px;
  
  }
  .mobile{
    display: none;
}
    
    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        margin-left: 76px;
      display: none;
        }
    .header-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        margin: auto;
        position: relative;
        color:var(--second-title-color)
        }
        .header-mobile{
            display: flex;
            align-items: center;
            gap: 40px;
            list-style: none;
            display: none;
        }
          .header-mail {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: none;
        color:var(--second-title-color)
        
        }
        .header-tel {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: auto;
        display: none;
        color:var(--second-title-color)
        }
        .about-list{
          /* padding-bottom: 60px; */
      }
      .about-first,
       .about-second, .about-third{
    /* margin-bottom: 72px; */
    width: 100%;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
text-align: left;




      }
      .about-after-title {
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 8px;
      }
      
    .customers-item {
     width: calc((100% - 30px) / 2 );
     height: 88px;
     /* padding-left: 82px; */
  }
      .photo-link{
        display: none;
      }
      .online-btn{
       
    }
.hero{
    /* padding: 210px 30px; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    
      url(../img/Dark-bg-mob.jpg);
}
.footer-container {
  /* flex-wrap: wrap;  */
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-form{
  /* align-items: center; */
}
.online-input{
  margin-bottom: 16px;
}



}