@media screen and (min-width: 768px){
    .container{
     max-width: 768px;
    
    }
    .about{
        width: 100%;
    }
    .header{
        padding-bottom: 20px;
    }

    
    .about-item {

        font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  
  color: #2E2F42;
list-style: none;
width: calc((100% - 24px)/2);
}
.form-wrap{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: baseline;
   
}
  
  .about-list{
    /* list-style: none; */
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 72px 24px;
    flex-wrap: wrap;
}
.about-first,
       .about-second, .about-third{
width: calc((100% - 24px)/2);
}
.about-third{
    
}
.about-text{
text-align: left;
}
.menu-open{
    display: none;
}

    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        margin-left: 76px;
      
        }
        .photo-link{
            display: none;
        }
        
    .header-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        margin: auto;
        position: relative;
        color:var(--second-title-color)
        }
      .header-item{
        font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
color: #434455;
      }
        .header-mobile{
            display: flex;
            align-items: center;
            gap: 8px;
            list-style: none;
            flex-direction: column;
            margin-left: 152px;
        }
          .header-mail {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.04em;
            color: #434455;
        
        }
        .header-tel {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.04em;
            color: #434455;
        margin: auto;
        display: block;
        
        }
        
        
 
    .hero {
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    
      url(../img/Dark-bg-tab.jpg);
    }
    .team{
        background-color: #F4F4FD;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .team-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 44px;
    color:var(--second-title-color)
    }
    .team-item {
        /* width: calc((100% - 30px)/2); */
        align-items: center;
       
        
    }

    .about-after-title {
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* text-align: center; */
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
text-align: left;

      }
        .mobile{
            display: none;
        }

   
    .costumers {
        padding-top: 84px;
        padding-bottom: 84px;
        background-color: #FFFFFF;
    }
    .customers-item {
        width: calc((100% - 50px) / 3 );
        height: 88px;
     }
     .online-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-top: 16px;
        margin-bottom: 16px;
        /* align-items: center; */
        
     }
     .hero-title{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
     }

     .end-text{
        margin-top: 16px;
        /* margin-left: 108px; */
        /* margin-right: 120px; */
    }
    .media-footer {
        /* margin-left: 40px; */
        /* margin-bottom: 132px; */
        flex-wrap: nowrap;
    }
    .form-wrap{
        display: flex;
        flex-direction: row;
      }
      .online-input{
        width: 264px;
        height: 40px;
        border:1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color:#FFFFFF;
        background-color: transparent;
        /* margin-left:80px ; */
       /* padding:10px ; */
      outline: none;
      margin-right: 24px;
      /* margin-top: 18px; */
      
    }
    .logo-wrap{
        /* display: block;
        margin: 0px, 40px, 0px, 0px; */
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container-costumers{
        max-width: 582px;
    }
   
    .end{
        padding-top: 96px;
        padding-bottom: 96px;
    width: 100%;
        
    }
    .about-text{
        padding-bottom: 0;
      }

    
    .send-btn{
        margin-left: auto; 
        margin-right: auto;
      }
    .end-soc-list {
        display: flex;
        gap: 24px;
        margin-top: 24px;
        /* margin-left: 110px; */
    }
    .footer-container {
        display: flex;
        max-width: 565px;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: flex-start;
        flex-direction: row;
        row-gap: 72px;
    }
    .media-title{
        text-align: left;

    }
 .online-form{
    align-items: flex-start ;
 }
}