@media screen and (min-width: 768px){
    .container{
     width: 720px;
    }
    .team{
        background-color: #F4F4FD;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .team-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 44px;
    color:var(--second-title-color)
    }
    .team-item {
        /* width: calc((100% - 30px)/2); */
        align-items: center;
       
        
    }
    .costumers {
        padding-top: 84px;
        padding-bottom: 84px;
        background-color: #FFFFFF;
    }
    .customers-item {
        width: calc((100% - 60px) / 3 );
        height: 88px;
     }
   
 }